<ion-content>

<ion-header>
  <ion-toolbar>
    <ion-title>Chinese Quiz</ion-title>
  </ion-toolbar>
</ion-header>

<div id=content>
  <br>
  <br>
  <br>
  <BR>
  <ion-text><h1> Chinese Quiz </h1></ion-text>
  <ion-text><h2>Some basic chinese character Quiz.</h2></ion-text> 
  <ion-text><h5>Prepare yourself for new world order.</h5></ion-text>
  <ion-text><h5>press "Start" to start the quiz</h5></ion-text>
  
  <ion-button  (click)=goHome()> Start </ion-button> 
</div>
</ion-content>
