#container {
    text-align: center;
    color: red;

    position: absolute;
    left: 0;
    right: 0;
    
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
  
    color: #8c8c8c;
  
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }
  
  ion-content {
  --ion-background-color: #9c0707;
  width:100%; 
  margin: auto; 
  text-align: center;
  }
  ion-text {
    color: white;

  }

