<ion-header>
  <ion-toolbar>
    <ion-title>results</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="background-color: #9c0707;">
<div id="container">
  <ion-text><h1> Chinese Quiz</h1></ion-text>
  <ion-text><h5>Your Time was  {{ durationSeconds  }} seconds </h5></ion-text>
  <ion-text><h5>Your correct answers {{getNumberOfCorrect}}</h5></ion-text>
  <ion-text><h5> Tap honey the pooh to see correct answers </h5></ion-text>
  <img src="../../../assets/imgs/ClipartKey_475598.png" (click)= "goAnswers()" tappable />
</div>
</ion-content>
