<ion-header>
  <ion-toolbar>
    <ion-title>Answers</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div id=container>



    <ion-text><h1> Chinese Quiz</h1></ion-text>
    
    <ion-text><h4>Correct: 好 (Hǎo)  </h4></ion-text>
    <ion-text><h4>Correct: 人 (Rén)</h4></ion-text>
    <ion-text><h4>Correct: 我 (Wǒ) </h4></ion-text>
    <ion-text><h4>Correct: 芬兰 (Fēnlán)</h4></ion-text>

    <ion-text><h5> Tap honey the pooh to start quiz again </h5></ion-text>
    <img src="../../../assets/imgs/ClipartKey_475598.png" (click)= "goStart()" tappable />


  </div>

</ion-content>
